:root {
    --font-family: "Qwitcher Grypen", sans-serif;
    --second-family: "Racing Sans One", sans-serif;
}
body {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}
.group-list {

}
.shino {
    font-family: var(--second-family);
        font-weight: 400;
        font-size: 12px;
        background: linear-gradient(180deg, #d884da 0%, #734674 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.group {
    display: flex;
    justify-content: center;
    
}
.socials {
    
    list-style: none;
    display: flex;
}
.links {
    margin-right: 20px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.links:hover {
   background-color: aqua;
}
.img {
    padding: 12px;
}
