.loader {
   transform: rotateX(70deg);
}
.loader .element {
    
    border-left: 5px solid rgb(194, 38, 27);
    border-right: 5px solid rgb(50, 31, 121);
    border-top: dotted 2px rgb(189, 12, 196);
    width: 10rem;
    height: 1rem;
    margin-top: 0.5rem;
    perspective: 1000px;
    animation: rotate 5s infinite linear;
    animation-delay: calc(var(--i) * 0.2s);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 400px;

    }
@keyframes rotate {
    100% {
        transform: rotateY(360deg);
    }
}